* {
    margin: 0;
    padding: 0;
    font-family: tahoma;
}
header {
    background: url(./assets/controller-xbox-gaming.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1, h2 {
    text-align: center;
    color: #ddd;
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
h2 {
    font-size: 26px;
}
input {
    position: absolute;
    bottom: 30%;
    left: 50%;
    width: 260px;
    height: 70px;
    padding: 20px;
    background-color: brown;
    border: 3px solid darkred;
    color: white;
    font-size: 20px;
    margin-left: -130px;
}